# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# Ansible roles
provisioners/ansible/roles

# .env files
.packer.env

# user variables
variables.auto.pkrvars.hcl

# Dockerfile
Dockerfile
